<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895474898682-vudso8rr8ussff6l9aq74rjcsaim8u6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895474898682-vudso8rr8ussff6l9aq74rjcsaim8u6q</string>
	<key>API_KEY</key>
	<string>AIzaSyCxBOg1oMuzHDpOqDibZrS9ki4UOl8hoTc</string>
	<key>GCM_SENDER_ID</key>
	<string>895474898682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.djtake.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-69188</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-69188.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895474898682:ios:e59b267bbc1f37717a5b43</string>
</dict>
</plist>